<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>cb-ubb-ingestion-service.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CLOUDWATCH" class="com.amazonaws.services.logs.logback.CloudWatchAppender">
        <logGroupName>ecs-cb-ubb-ingestion-service-stream-logs</logGroupName>
        <logStreamName>ecs-log-stream</logStreamName>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CLOUDWATCH" />
    </root>
</configuration>